/*

Estilos para nuestro sitio, hermosos como un oceano.
Eres libre de modifcar esta hoja a tu antojo. Be water my friend...

*/

@font-face {
	font-family: 'Larsseit';
	src: url('../fonts/subset-Larsseit.eot');
	src: url('../fonts/subset-Larsseit.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-Larsseit.woff2') format('woff2'),
		url('../fonts/subset-Larsseit.woff') format('woff'),
		url('../fonts/subset-Larsseit.ttf') format('truetype'),
		url('../fonts/subset-Larsseit.svg#Larsseit') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larsseit';
	src: url('../fonts/subset-Larsseit-Bold.eot');
	src: url('../fonts/subset-Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-Larsseit-Bold.woff2') format('woff2'),
		url('../fonts/subset-Larsseit-Bold.woff') format('woff'),
		url('../fonts/subset-Larsseit-Bold.ttf') format('truetype'),
		url('../fonts/subset-Larsseit-Bold.svg#Larsseit-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham_light-webfont.eot');
    src: url('../fonts/gotham/gotham_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham_light-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham_light-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham_light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-bold_21010-webfont.eot');
    src: url('../fonts/gotham/gotham-bold_21010-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-bold_21010-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-bold_21010-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-bold_21010-webfont.svg#gothambold') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
	-webkit-box-sizing:border-box;
	    	box-sizing:border-box
}
html {
	font-size:62.5%; /* Para usar rem de forma "amable": 1px = 1rem */
	-webkit-text-size-adjust:100%;
		-ms-text-size-adjust:100%;
}
body {
	width: 100%;
	margin: 0 auto !important;
	overflow-x:hidden;
	font-family: 'Gotham';
	font-size:12px; /* Fallback por si algún navegador no lee rem (usar siempre, no sólo en body) */
	font-size:1.2rem;
	background-color: #000;
	color: #fff;
	-webkit-font-variant-ligatures: normal;
            font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}
h1, h2, .h1, .h2 {
	font-size: 50px;
	font-size: 5rem;
	letter-spacing: 0.5px;
	line-height: 1.24;
}
h3, .h3 {
	font-weight: bold;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.2;
}
h4, .h4 {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}
h5, h6, .h5, .h6 {
	font-size: 10px;
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: 1.666;
}
a {
	color: #fff;
	text-decoration: underline;
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
a:focus { outline: 0 !important; }
a.principal {
	position: relative;
	padding: 5px 9px;
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 0.88px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	-webkit-transition: all .4s ease .3s;
			-o-transition: all .4s ease .3s;
			transition: all .4s ease .3s;
}
a.principal .texto {
	position: relative;
	z-index: 10;
}
a.principal .linea {
	position: absolute;
	left: 0;
	right: 5px;
	bottom: -2px;
	height: 3px;
	background-color: #fff;
	z-index: 9;
	-webkit-transition: all .4s ease-in-out .1s;
			-o-transition: all .4s ease-in-out .1s;
			transition: all .4s ease-in-out .1s;
}
a.principal:hover {
	color: #000;
}
a.principal:hover .linea {
	color: #000;
	height: 21px;
	bottom: 3px;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
footer { padding: 20px; }
.contenido,
.wrap,
.main,
.sidebar,
section {
	display: block;
	position: relative;
}
section {
	overflow: hidden;
}
.contenido {
	width: 100%;
}
.wrap {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
/* 	padding: 0 50px; */
}

@media all and (max-width: 1279px) {
	.wrap {
		padding: 0 20px;
	}
}
@media all and (max-width: 1023px) {
	.wrap {
		padding: 0 15px;
	}
}
@media all and (max-width: 767px) {
	a.principal {
	    padding: 5px 5px;
	    font-size: 12px;
	    font-size: 1.2rem;
	    letter-spacing: 0.88px;
	}
	a.principal:hover .linea {
		height: 19px;
	}
}

/*
---------------------------------------------------------------------------------------------------------------------
ELEMENTOS RECURRENTES
Estilos comunes que facilitan la maquetación de elementos recurrentes
---------------------------------------------------------------------------------------------------------------------
*/
.left,
div.left {
	float: left;
}
.right,
div.right {
	float: right;
}
.txt-der {
	text-align: right;
}
.centrado { /* Con esta clase centramos horizontal-verticalmente un elemento. La capa madre tiene que tener declarada position: relative; */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        	transform: translate(-50%,-50%);
}
.img-centrada { /* Con esta clase centramos horizontalmente una imagen  */
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.contenedor-iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -28.15%;
    /* video height / video width */
    padding-bottom: 56.2%;
    height: 0;
    overflow: hidden;
}
.single-videos .contenedor-iframe {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	margin: 0;
    padding: 0;
	padding-bottom: 56.25%;
}
.contenedor-iframe img, .contenedor-full img {
    width: 100%;
    height: auto;
    opacity: 1;
    position: absolute;
}
.contenedor-iframe iframe, .contenedor-iframe video {
    position: absolute;
/*  top: 0; */
	top: 40px;
    left: 0;
    width: 100%;
/*  height: 100%; */
	height: 80%;
/* 	pointer-events: none; */
}
.single-videos .contenedor-iframe iframe {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.home .contenedor-iframe iframe, .home .contenedor-iframe video {
	top: 0;
	height: 100%;
}
.contenedor-full iframe, .contenedor-full video {
	position: absolute;
    margin: auto;
    right: -99999px;
    left: -99999px;
    bottom: -99999px;
    top: -99999px;
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
}

/*
---------------------------------------------------------------------------------------------------------------------
MENÚS
---------------------------------------------------------------------------------------------------------------------
*/
.menu,
.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu > li {
	display: inline-block;
}
.menu > li > a {
	display: block;
	font-family: "Gotham";
	font-weight: 200;
}

li.logoprincipal a {
    background: url(https://www.icecreampictures.tv/wp-content/themes/icecream/img/icecream-logo.svg) no-repeat center;
    color: transparent !important;
    margin-bottom: 20px;
}
li.logoprincipal a:hover {
    background-color: transparent !important;
}

li.logostudio a {
    background: url("https://www.icecreampictures.tv/wp-content/themes/icecream/img/logo-icecream-studio-white.svg") no-repeat 20px center;
    color: transparent !important;
}

.lnkPrivacidad a {
    font-size: 14px !important;
    position: absolute;
    bottom: 5%;
}


.mobmenu a.mobmenu-right-bt {
    background-image: url('https://www.icecreampictures.tv/wp-content/uploads/2019/03/hamburger-close.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 10px;
    margin-right: 20px;
}
.mobmenu a.mobmenu-right-bt i {
    opacity: 0;
}
#mobmenuright li a:hover { background-color: #fff200; }

.menurrss {
    width: 20%;
    float: left;
}

.slick-dots { display: none !important; }

.ajax-load-more-wrap.infinite.chasing-arrows .alm-load-more-btn {
    background-image: url("https://www.icecreampictures.tv/wp-content/uploads/2019/03/loading.png") !important;
}
@media only screen and (max-width: 5000px)  {
    .show-nav-left .mobmenu-overlay, .show-nav-right .mobmenu-overlay, .show-mob-menu-search .mobmenu-overlay {
        background: rgba(0,0,0,0.20) !important;
    }
}

@media  all and (max-width: 564px) {
    #mobmenuright li a {
        font-size: 20px !important;
    }
}
/*
---------------------------------------------------------------------------------------------------------------------
HEADER
---------------------------------------------------------------------------------------------------------------------
*/
.site-header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9999;
}
.site-header .logo {
	position: relative;
	display: block;
	margin: 27px auto 27px 10px;
	width: 100%;
/* 	max-width: 156px; */
	max-width: 230px;
	z-index: 10;
}
.site-header .logo img {
	width: 230px;
}
.site-header .nav {
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
}
.site-header .nav li:last-child {
	float: right;
}
.site-header .nav li:first-child {
	float: left;
}
.site-header .nav li a {
	position: relative;
	display: block;
	font-size: 20px;
	font-size: 2rem;
	font-weight: normal;
	line-height: 0.67px;
	line-height: 1;
	text-decoration: none;
}
.site-header .nav li a:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #fff;
	-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
.site-header .nav li a:hover:after {
	width: 100%;
}
@media all and (max-width: 767px) {
	.site-header .nav {
	    top: 33px;
	    left: 15px;
	    right: 15px;
	}
	.site-header .logo {
		margin: 24px auto;
		max-width: 113px;
	}
	.site-header .nav li a {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 0.47px;
	}
	.site-header .nav li a:after {
		bottom: -9px;
		height: 2px;
	}
    .lnkPrivacidad a {
        bottom: 10%;
        font-size: 12px !important;
    }
}

/*
---------------------------------------------------------------------------------------------------------------------
HOME
---------------------------------------------------------------------------------------------------------------------
*/
.home .contenido,
.home .main,
.home .slick-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.home .info {
	text-align: center;
	width: auto;
}
.home .slick-slide .info h2 {
	margin: 0;
	position: relative;
}
/*
.home .slick-slide.slick-active .info h2 span {
	-webkit-animation: 2.5s linear titular forwards;
			animation: 2.5s linear titular forwards;
	-webkit-animation-direction:alternate;
	        animation-direction:alternate;
}
@-webkit-keyframes titular {
  	0%  { opacity: 0; }
	60% { opacity: 1; }
}
@keyframes titular {
	0%  { opacity: 0; }
	60% { opacity: 1; }
}
*/
/*
.home .slick-slide.slick-active .info h2:before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	background-color: #fff;
	width: 0;
	-webkit-animation: 2.5s linear franjatitular forwards;
			animation: 2.5s linear franjatitular forwards;
}
@-webkit-keyframes franjatitular {
  	0%   { width: 0; }
	60%  { width: 100%; }
	100% { width: 0; }
}
@keyframes franjatitular {
	0%   { width: 0; }
	60%  { width: 100%; }
	100% { width: 0; }
}
*/
.home .slick-slide .info a.principal {
	position: relative;
	display: inline-block;
	margin-top: 75px;
}
.home .slick-slide.slick-active .info a.principal span {
	-webkit-animation: 2.2s ease-in-out link forwards;
			animation: 2.2s ease-in-out link forwards;
}
@-webkit-keyframes link {
  	0%  { opacity: 0; }
	59% { opacity: 0; }
	60% { opacity: 1; }
}
@keyframes link {
	0%  { opacity: 0; }
	59% { opacity: 0; }
	60% { opacity: 1; }
}
.home .slick-slide.slick-active .info a.principal:before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	background-color: #fff;
	width: 0;
	-webkit-animation: 2.2s ease-in-out franjalink forwards;
			animation: 2.2s ease-in-out franjalink forwards;
}
@-webkit-keyframes franjalink {
  	0%   { width: 0; }
	60%  { width: 100%; }
	100% { width: 0; }
}
@keyframes franjalink {
	0%   { width: 0; }
	60%  { width: 100%; }
	100% { width: 0; }
}
.slick-list,
.slick-track {
	height: 100%;
}
.home .slick-slide .contenedor-iframe {
	display: none;
}
.home .slick-slide.slick-active .contenedor-iframe {
	display: block;
}
.slick-dots {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			    transform: translateY(-50%);
}
.slick-dots li {
	cursor: pointer;
	height: 10px;
	width: 75px;
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
}
.slick-dots li:hover {

}
.slick-dots li a {
	position: relative;
	display: block;
	text-decoration: none;
	height: 100%;

}
.slick-dots li a span {
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
	-webkit-transform: translate(calc(-100% - 5px),-50%);
			-ms-transform: translate(calc(-100% - 5px),-50%);
	    transform: translate(calc(-100% - 5px),-50%);
}
.slick-dots li a:hover span {
	opacity: 1;
}
.slick-dots li a span img {
	max-width: 145px;
}
.slick-dots li a span h6 {
	font-size: 14px;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.2;
	margin: 0;
	width: 95%;
}
.slick-dots li a .linea {
    background: #fff;
    height: 1px;
    color: transparent;
    font-size: 0;
    border: 0;
    width: 22px;
    position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
}
.slick-dots li a:hover .linea {
	width: 100%;
}
.slick-dots li a .linea:before {
	content: "";
	height: 3px;
	width: 3px;
	border-radius: 100%;
	display: block;
	background-color: #fff;
	position: absolute;
	top: -1px;
	left: -1px;
	opacity: 0;
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
}
.slick-dots li a:hover .linea:before {
	opacity: 1;
}
.home .botonera {
    position: absolute;
    left: 0;
    width: 65px;
    bottom: 50%;
    height: 80px;
}
.home .botonera .compartir {
	width: 65px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}
.home .redes {
    position: absolute;
	top: 11px;
	right: -200px;
	width: 200px;
	opacity: 0;
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
}
.home .redes.abierto {
	opacity: 1;
}
.home .redes li {
	-webkit-transform: translateX(-300px);
			-ms-transform: translateX(-300px);
	    transform: translateX(-300px);
	-webkit-transition: .3s ease;
        	-o-transition: .3s ease;
        	transition: .3s ease;
}
.home .redes li:nth-child(2) {
	-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
	   transition-delay: .1s;
}
.home .redes li:nth-child(1) {
	-webkit-transition-delay: .2s;
			-o-transition-delay: .2s;
	   transition-delay: .2s;
}
.home .redes.abierto li {
	-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
	    transform: translateX(0);
}
.home .redes li a {
	font-size: 16px;
	padding: 20px;
}
.home .site-footer {
	display: none;
}
.controls{
	left: 21em !important;
}
@media all and (max-width: 1023px) {
	.home .slick-slide .info h2 {
		font-size: 40px;
		font-size: 4rem;
	}
	.home .slick-slide.slick-active .info a.principal {
		margin-top: 15px;
	}
	.slick-dots li a span {
		display: none;
	}
	.home .botonera {
	    bottom: 0;
	}
}
@media all and (max-width: 767px) {
	.home .slick-slide .info h2 {
		font-size: 20px;
		font-size: 2rem;
		letter-spacing: 0.2px;
	}
	.home .slick-slide.slick-active .info a.principal {
		margin-top: 13px;
	}
	.slick-dots {
        display: none;
	    top: initial;
	    bottom: 25px;
	    z-index: 1;
	    -webkit-transform: translateY(0%);
				-ms-transform: translateY(0%);
				    transform: translateY(0%);
	}
	.slick-dots li {
		height: 14px;
	}
	.slick-dots li a span {
		display: none;
	}
	/*.contenedor-full {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 50%;
	    margin-top: -28.15%;
	    padding-bottom: 56.2%;
	    height: 0;
	    overflow: hidden;
	}
	.contenedor-full iframe, .contenedor-full video {
	    position: absolute;
		right: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	}*/
}

/*
---------------------------------------------------------------------------------------------------------------------
ABOUT y DIRECTORS
---------------------------------------------------------------------------------------------------------------------
*/
.page-template-about .contenido {
	margin-top: 170px;
}
.page-template-directors .contenido {
    margin-top: 80px;
}
.page-template-about .info, .page-template-directors .info {
	text-align: center;
}
.page-template-about .info .texto-blur, .page-template-directors .info .texto-blur, .page-locations .cont-entrada {
	font-size: 35px;
	font-size: 3.5rem;
	opacity: 0;
	-webkit-filter: blur(5px); /* Safari */
    		filter: blur(5px);
	-webkit-animation: 1s ease-in fade forwards;
			animation: 1s ease-in fade forwards;
}
.page-template-about .info .texto-blur p:first-child, .page-template-directors .info .texto-blur p:first-child, .page-locations .cont-entrada p:first-child{
	margin-bottom: 0;
}
.page-template-about .info .texto-blur p:last-child, .page-template-directors .info .texto-blur p:last-child, .page-locations .cont-entrada p:last-child{
	margin-top: 0;
}
.page-template-about .wrap, .page-template-directors .wrap {
	max-width: 1300px;
	padding: 0;
}
@-webkit-keyframes fade {
  	0% {
	    opacity: 0;
	    -webkit-filter: blur(5px); /* Safari */
	}
	100% {
	    opacity: 1;
	    -webkit-filter: blur(0px); /* Safari */
	}
}
@keyframes fade {
	0% {
		opacity: 0;
    	-webkit-filter: blur(5px);
    	        filter: blur(5px);
	}
	100% {
		opacity: 1;
    	-webkit-filter: blur(0px);
    	        filter: blur(0px);
	}
}
.page-template-about .col-md-2, .page-template-directors .col-md-2 {
	width: 14.28%;
	padding: 0 12px;
}
.page-template-about .col-md-2 > div, .page-template-directors .col-md-2 > div{
	height: 58px;
}
.page-template-about .oficina, .page-template-directors .oficina {
	margin: 25px;
}
.page-template-about .info h2, .page-template-directors .info h2,
.page-template-about .contacto h2, .post-type-archive-studio .contacto h2 {
	font-weight: normal;
	font-size: 12px;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	line-height: 1.666;
	margin: 0 0 8px;
}
.page-template-about .info h2, .page-template-directors .info h2 {
	font-size: 16px;
	font-size: 1.6rem;
}
.page-template-about .contacto h2, .post-type-archive-studio .contacto h2 {
	display: none;
}
.page-template-about .info .telefono {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.25;
	text-decoration: none;
}
.page-template-about .contacto, .post-type-archive-studio .contacto {
	margin-top: 73px;
}
.page-template-about .contacto > .row, .post-type-archive-studio .contacto > .row {
	text-align: left;
	margin: 0 auto;
}
.page-template-about .contacto h5, .post-type-archive-studio .contacto h5 {
	display: none;
}
.page-template-about .contacto h3, .post-type-archive-studio .contacto h3 {
	margin: 0 0 5px;
	font-size: 18px;
	font-size: 1.8rem;
}
.page-template-about .contacto h3 a, .post-type-archive-studio .contacto h3 a {
	text-decoration: none;
	pointer-events: none;
}
.page-template-about .contacto h3 .fa, .post-type-archive-studio .contacto h3 .fa {
	pointer-events: all;
	padding-right: 5px;
}
.page-template-about .contacto .h5, .post-type-archive-studio .contacto h5 {
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 6px;
	font-size: 10px;
}
.page-template-about ul, .post-type-archive-studio .contacto ul {
	padding: 0;
	list-style: none;
	line-height: 1.5;
}
.page-template-about ul li a, .post-type-archive-studio .contacto ul li a {
	text-decoration: none;
}
.page-template-about .col-md-3, .post-type-archive-studio .contacto .col-md-3 {
	padding: 15px;
}
.page-template-about .site-header{
	background: #000;
}
@media all and (min-width: 1400px) {
	.page-template-about .contenido {
		margin-top: 230px;
	}
    .page-template-directors .contenido {
        margin-top: 130px;
    }
}
@media all and (max-width: 1220px) {
	.page-template-about .col-md-2, .page-template-directors .col-md-2{
		width: 25%;
		margin-bottom: 20px;
	}
	.page-template-about .col-md-2 > div, .page-template-directors .col-md-2 > div{
		height: auto;
	}
	.empty{
		display: none;
	}
	.page-template-about .col-md-8, .page-template-directors .col-md-8{
		position: initial;
		width: 100%;
	}
	.page-template-about .info .texto-blur, .page-template-directors .info .texto-blur, .page-locations .cont-entrada {
		padding: 0 5px;
        max-width: 80%;
        margin: 0 auto;
	}
}
@media all and (max-width: 1024px){
	.contenedor-iframe iframe {
		pointer-events: all;
	}
}
@media all and (max-width: 1023px) {
	.page-template-about .contenido, .page-template-directors .contenido {
		margin-top: 140px;
	}
	.page-template-about .info, .page-template-directors .info {
		text-align: left;
	}
	.page-template-about .info .texto-blur, .page-template-directors .info .texto-blur, .page-locations .cont-entrada {
		font-size: 20px;
		font-size: 2rem;
		letter-spacing: 0.2px;
		line-height: 1.6;
		text-align: center;
		margin-bottom: 110px;
	}
	.page-template-about .oficina {
		margin-left: 25px;
	}
	.page-template-about .info .telefono {
	    font-size: 15px;
	    font-size: 1.5rem;
	}
	.page-template-about .contacto {
		padding: 0 25px;
		margin-top: 38px;
	}
	.page-template-about .contacto h5, .post-type-archive-studio .contacto h5 {
		display: block;
	}
	.page-template-about .info h2,
	.page-template-about .contacto h2, .post-type-archive-studio .contacto h2 {
	    margin: 0 0 16px;
	}
	.page-template-about .contacto h2, .post-type-archive-studio .contacto h2 {
		display: block;
		font-size: 15px;
	    font-size: 1.5rem;
	}
	.page-template-about .contacto .col-md-2, .post-type-archive-studio .contacto h2 .col-md-2 {
		margin-top: 32px;
		padding-left: 0;
	}
}
@media all and (max-width: 768px){
	.home .info {
		min-width: 90%;
	}
	.page-template-about .col-md-2, .page-template-directors .col-md-2{
		width: 100%;
	}
}


/*
---------------------------------------------------------------------------------------------------------------------
WORKS
---------------------------------------------------------------------------------------------------------------------
*/
.post-type-archive-videos .main {
	margin-top: 190px;
}
.post-type-archive-videos h3,
.post-type-archive-videos .h4,
.single-videos h3,
.single-videos .h4 {
	margin: 0 0 2px;
}
.post-type-archive-videos h3{
/* 	font-weight: normal; */
}
.post-type-archive-videos h3 a, .single-videos h3 a {
	text-decoration: none;
}
.post-type-archive-videos .animation-element, .single-videos .animation-element {
	margin-bottom: 80px;
	text-align: center;
}

.post-type-archive-videos .imagen, .single-videos .imagen {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	-webkit-transition: all .6s ease-in;
	-o-transition: all .6s ease-in;
	transition: all .6s ease-in;
	background: transparent url('') no-repeat center center / cover;
}
.post-type-archive-videos .imagen > a, .single-videos .imagen > a {
	background-color: #000;
	opacity: 0;
	display: block;
	-webkit-transition: all .5s ease-in;
			-o-transition: all .5s ease-in;
			transition: all .5s ease-in;
}
.post-type-archive-videos .imagen:hover > a, .single-videos .imagen:hover > a {
/* 	opacity: 1; */
	opacity: 0.5;
}
.post-type-archive-videos .imagen.galeria, .single-videos .imagen.galeria{
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
}
.post-type-archive-videos .imagen.galeria:hover, .single-videos .imagen.galeria:hover{
	-webkit-filter: grayscale(50%);
	        filter: grayscale(50%);
}

.filavideos .col-sm-6, .filavideos .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}
/*
.post-type-archive-videos .imagen.galeria:hover > a {
	opacity: 0;
}
*/
.post-type-archive-videos .imagen .contenedor-iframe {
	-webkit-transform: translateY(-150%);
			-ms-transform: translateY(-150%);
	    transform: translateY(-150%);
	-webkit-transition: all .6s ease-in;
			-o-transition: all .6s ease-in;
			transition: all .6s ease-in;
}
.post-type-archive-videos .imagen:hover .contenedor-iframe {
	-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
	    transform: translateY(0%);
}
.post-type-archive-videos .imagen .click-video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
}
.post-type-archive-videos .col-md-6 article {
	-webkit-transition: all .5s ease-in;
			-o-transition: all .5s ease-in;
			transition: all .5s ease-in;
}
.post-type-archive-videos .col-md-6:nth-child(n) article  {
	padding-right: 16.666%;
	padding-left: initial;
	-webkit-transform: translateY(100px);
			-ms-transform: translateY(100px);
	    transform: translateY(100px);
	margin-bottom: initial;
}
.post-type-archive-videos .col-md-6:nth-child(2n) article {
	padding-left: 16.66%;
	padding-right: initial;
	-webkit-transform: translateY(160px);
			-ms-transform: translateY(160px);
	    transform: translateY(160px);
	margin-bottom: 120px;
	-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
	   transition-delay: .1s;
}
.post-type-archive-videos .col-md-6:nth-child(3n) article {
	padding-left: initial;
	padding-right: 13%;
	margin-bottom: initial;
	-webkit-transform: translateY(100px);
			-ms-transform: translateY(100px);
	    transform: translateY(100px);
}
.post-type-archive-videos .col-md-6:nth-child(4n) article {
	padding-left: initial;
	padding-right: 33.333%;
	margin-bottom: 250px;
	-webkit-transform: translateY(240px);
			-ms-transform: translateY(240px);
	    transform: translateY(240px);
	-webkit-transition-delay: .15s;
			-o-transition-delay: .15s;
	   transition-delay: .15s;
}
.post-type-archive-videos .col-md-6:nth-child(5n) article {
	padding-right: initial;
	padding-left: 16.666%;
	margin-bottom: initial;
	-webkit-transform: translateY(100px);
			-ms-transform: translateY(100px);
	    transform: translateY(100px);
}
.post-type-archive-videos .col-md-6:nth-child(6n) article {
	padding-right: initial;
	padding-left: 33.333%;
	margin-bottom: 268px;
	-webkit-transform: translateY(145px);
			-ms-transform: translateY(145px);
	    transform: translateY(145px);
	-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
	   transition-delay: .1s;
}
.post-type-archive-videos .col-md-6:nth-child(n) article.in-view  {
	-webkit-transform: translateY(0px);
			-ms-transform: translateY(0px);
	    transform: translateY(0px);
}
.post-type-archive-videos .col-md-6:nth-child(2n) article.in-view {
	-webkit-transform: translateY(60px);
			-ms-transform: translateY(60px);
	    transform: translateY(60px);
}
.post-type-archive-videos .col-md-6:nth-child(3n) article.in-view {
	-webkit-transform: translateY(0px);
			-ms-transform: translateY(0px);
	    transform: translateY(0px);
}
.post-type-archive-videos .col-md-6:nth-child(4n) article.in-view {
	-webkit-transform: translateY(140px);
			-ms-transform: translateY(140px);
	    transform: translateY(140px);
}
.post-type-archive-videos .col-md-6:nth-child(5n) article.in-view {
	-webkit-transform: translateY(0px);
			-ms-transform: translateY(0px);
	    transform: translateY(0px);
}
.post-type-archive-videos .col-md-6:nth-child(6n) article.in-view {
	-webkit-transform: translateY(45px);
			-ms-transform: translateY(45px);
	    transform: translateY(45px);
}
.post-type-archive-videos .site-footer {
	margin-top: 210px;
}
.slider-works{
	position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 92px;
}
.single-videos .slider-works {
	position: relative !important;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.slider-works .slick-slide > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: no-repeat center center / cover;
    background-size: contain;
}
.single-videos .slider-works button.slick-prev.slick-arrow {
    left: -35px;
}
.single-videos .slider-works button.slick-next.slick-arrow {
    right: -35px;
}
.single-videos .moreprojects {
	margin-top: 80px;
	margin-bottom: 40px;
}
.single-videos .moreprojects h2 {
	margin-bottom: 40px;
	text-align: center;
    font-weight: bold;
    font-size: 26px;
}

/*.alm-btn-wrap  { display: none !important; }*/
/*@media all and (min-width: 800px) {
    .animation-element h3 {
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        display: none;
    }
    .post-type-archive-videos .animation-element:hover > h3 {
        display: block;
    }
}*/
@media all and (max-width: 767px) {
	.post-type-archive-videos .main {
	    margin-top: 110px;
	}
	.post-type-archive-videos .col-md-6 article,
	.post-type-archive-videos .col-md-6 article.in-view {
		margin-bottom: 60px !important;
		-webkit-transform: none !important;
				-ms-transform: none !important;
		    transform: none !important;
	}
	.post-type-archive-videos .imagen .contenedor-iframe {
		display: none;
	}
	.post-type-archive-videos .site-footer {
		margin-top: 80px;
	}
	.slider-works{
	    bottom: 50%;
	}
}

/*
---------------------------------------------------------------------------------------------------------------------
SINGLE VIDEO
---------------------------------------------------------------------------------------------------------------------
*/
.single-videos .main {
/*
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
*/
}
.single-videos h1 {
    text-align: center;
    font-size: 3.75rem;
    font-weight: bold;
    padding-top: 13px;
}
.single-videos .volver {
	position: absolute;
	top: 0;
	left: 0;
/* 	bottom: 0; */
	width: 67px;
/* 	background-color: #000; */
}
.single-videos .volver .volver__boton {
	display: block;
	width: 67px;
	height: 67px;
	text-align: center;
	line-height: 67px;
	cursor: pointer;
	-webkit-transform: translateX(-2px);
		-ms-transform: translateX(-2px);
	    transform: translateX(-2px);
	-webkit-transition: all .2s ease-in;
		-o-transition: all .2s ease-in;
		transition: all .2s ease-in;
	position: absolute;
	z-index: 9999;
}
.single-videos .volver .volver__boton:hover {
	-webkit-transform: translateX(-8px);
		-ms-transform: translateX(-8px);
	    transform: translateX(-8px);
}
.single-videos .footer{
/*
	position: absolute;
	left: 67px;
	bottom: 0;
	right: 0;
	height: 75px;
*/
/*
	background-color: #fff;
	color: #000;
*/
	padding: 0 20% 0 30px;
	z-index: 2;
	-webkit-transition: all 1s .5s;
	-o-transition: all 1s .5s;
	transition: all 1s .5s;
	-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
	margin-top: 40px;
}
.single-videos .footer.up{
	-webkit-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	        transform: translateY(0%);
	-webkit-transition: all 1s .5s;
	-o-transition: all 1s .5s;
	transition: all 1s .5s;
}
.single-videos .footer.down.up{
	-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
}
.single-videos .footer h4,
.single-videos .footer .h3 {
	margin: 0;
}
.single-videos .footer h4 {
	margin-top: 13px;
}
.single-videos .video {
/*
	position: absolute;
	top: 0;
	left: 67px;
	bottom: 92px;
	right: 0;
*/
	background-color: #000;
	overflow: hidden;
	-webkit-transition: all .7s ease-in;
		-o-transition: all .7s ease-in;
		transition: all .7s ease-in;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
.single-videos .video.full {
	left: 0;
	bottom: 0;
}
.single-videos .video .video__cerrar {
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
	display: none;
}
.single-videos .video.full .video__cerrar {
	display: block;
}
.single-videos .video .cartela {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
}
.single-videos .video .cartela.ocultar {
	display: none;
}
.single-videos .video .cartela__play {
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
}
.single-videos .video:hover .cartela__play {
	cursor: pointer;
	opacity: 1;
}
.otros_proyectos {
    position: absolute;
/*
	bottom: 22px;
	right: 65px;
*/
	right: 0;
	top: 50%;
    z-index: 9;
    transform: translateY(-50%);
}
.otros_proyectos ul li {
	margin: 5px 10px;
}
.otros_proyectos ul li a {
	position: relative;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
/* 	color: #000; */
}
.otros_proyectos ul li.prev-posts a:before {
	content: url("../img/arrow-left.svg");
	display: block;
	position: absolute;
	top: 0px;
	left: -29px;
	-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
}
.otros_proyectos ul li.prev-posts a:hover:before {
	left: -34px;
}
.otros_proyectos ul li.next-posts a:after {
	content: url("../img/arrow-right.svg");
	display: block;
	position: absolute;
	top: 0px;
	right: -28px;
	-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
}
.otros_proyectos ul li.next-posts a:hover:after {
	right: -32px;
}
@media all and (min-width: 1279px) {
	.single-videos .col-md-flex {
		display: inline-block;
	    width: auto;
	}
}
@media all and (max-width: 1279px) {
	.single-videos .footer {
		padding: 0 30px;
	}
	.otros_proyectos {
		position: relative;
		right: auto;
		top: auto;
		transform: translateY(0);
		margin-bottom: 30px;
	}
	.otros_proyectos ul li.prev-posts, .otros_proyectos ul li.next-posts {
		margin: 0;
	}
	.otros_proyectos ul li.next-posts {
		float: right;
	}
	.otros_proyectos ul li.prev-posts a:before, .otros_proyectos ul li.next-posts a:after {
	    position: relative;
	    display: inline-block;
	    vertical-align: -5px;
	}
	.otros_proyectos ul li.prev-posts a:before, .otros_proyectos ul li.prev-posts a:hover:before {
	    left: auto;
	    margin-right: 6px;
	}
	.otros_proyectos ul li.next-posts a:after, .otros_proyectos ul li.next-posts a:hover:after {
	    right: auto;
	    margin-left: 6px;
	}
}
@media all and (max-width: 1023px) {
	.single-videos .video {
		bottom: 30%;
	}
	.single-videos .footer {
		height: initial;
	    top: 70%;
	}
}
@media all and (max-width: 767px) {
	.single-videos .volver {
		width: 50px;
	}
	.single-videos .volver .volver__boton,
	.single-videos .volver .volver__boton:hover {
	    width: 50px;
	    height: 50px;
	    line-height: 50px;
	    margin-top: 7px;
	    -webkit-transform: none;
	    		-ms-transform: none;
	        transform: none;
	}
	.single-videos .volver .volver__boton img {
		max-width: 25px;
	}
	.single-videos .video {
		bottom: 50%;
		left: 50px;
	}
	.single-videos .video.full {
		left: 50px;
		bottom: 50%;
	}
	.single-videos .video .cartela__play {
		max-width: 73px;
		opacity: 1;
	}
	.single-videos .footer {
		height: initial;
	    left: 50px;
	    top: 50%;
	    padding: 0 10px;
	}
	.single-videos .footer h4 {
	    margin-top: 14px;
	}
	.single-videos .video .video__cerrar {
	    top: 20px;
		right: 20px;
		max-width: 25px;
	}
	.otros_proyectos ul li {
		margin: 0;
	}
	.single-videos .video .cartela{
		display: none;
	}
}

.page-politica-privacidad-cookies .wrap {
	max-width: 900px;
	margin-top: 120px;
	font-size: 16px;
	font-size: 1.6rem;
}
@media all and (max-width: 767px) {
	.page-politica-privacidad-cookies .wrap {
		margin-top: 60px;
	}
}

/*
---------------------------------------------------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------------------------------------------------
*/
.site-footer {
	position: relative;
	margin-top: 80px;
    padding: 0;
    height: 140px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.site-footer a  {
	color: #000;
}
.site-footer__izq,
.site-footer__der {
	position: absolute;
	top: 50%;
	left: 66px;
	-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
}
.site-footer__center {
    margin: 0 auto;
    padding-top: 20px;
    width: 200px;
}
.site-footer__der {
	left: initial;
	right: 66px;
}
.site-footer__izq .creditos,
.site-footer__izq .menu-menu-pie-container,
.site-footer__der .firma,
.site-footer__der .menu.redes {
	display: inline-block;
}
.site-footer__izq .menu-menu-pie-container li a {
	text-decoration: none;
}
.site-footer__izq .menu-menu-pie-container {
	margin-left: 9px;
	padding-left: 15px;
	border-left: 1px solid #000000;
	line-height: 1
}
.site-footer__izq .menu-menu-pie-container li a:hover {
	text-decoration: underline;
}
.site-footer__der .firma {
	font-size: 14px;
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0;
}
.site-footer__der .firma a {
	margin-left: 3px;
    font-size: 14px;
}
.site-footer__der .menu.redes {
	margin-left: 5px;
}
.site-footer__der .menu.redes li a {
	padding: 10px;
}
.site-footer__der .calidad{
		width: 120px;
}
@media all and (max-width: 1023px) {
	.site-footer {
		margin-top: 34px;
	}
	.site-footer__izq {
		left: 33px;
	}
	.site-footer__der {
		right: 33px;
	}
}
@media all and (max-width: 767px) {
	.site-footer {
	    height: auto;
	    text-align: center;
	    font-size: 10px;
	    font-size: 1rem;
	    padding: 37px 15px;
	}
	.site-footer__izq,
	.site-footer__der {
		position: relative;
		top: initial;
		left: initial;
		right: initial;
		width: 100%;
		-webkit-transform: none;
				-ms-transform: none;
		    transform: none;
	}
	.site-footer__der .firma,
	.site-footer__der .menu.redes {
		display: block;
	}
	.site-footer__der .firma {
		font-size: 9px;
	    font-size: .9rem;
	    margin: 15px 0px;
	}
	.site-footer__der .menu.redes {
		font-size: 14px;
	    font-size: 1.4rem;
	}
}


/*
---------------------------------------------------------------------------------------------------------------------
SLICK SLIDER
---------------------------------------------------------------------------------------------------------------------
*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    position: relative;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.single button.slick-prev.slick-arrow,
.single button.slick-next.slick-arrow{
    position: absolute;
    top: 50%;
    color: transparent;
    background: black;
    z-index: 9;
    border: 1px solid #fff;
    border-radius: 110px;
    width: 30px;
    height: 30px;
    line-height: 0;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.single button.slick-prev.slick-arrow:hover,
.single button.slick-next.slick-arrow:hover{
	opacity: .7;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
button.slick-next.slick-arrow:focus{
    outline: none;
}
.single button.slick-next.slick-arrow{
    right: 0;
}
.single button.slick-prev.slick-arrow:before{
    content: url(/wp-content/themes/icecream/img/flechaIzq_blanco.svg);
}
.single button.slick-next.slick-arrow:before{
    content: url(/wp-content/themes/icecream/img/flechaD_blanco.svg);
}
.single button.slick-prev.slick-arrow:hover:before{
    content: url(/wp-content/themes/icecream/img/flechaIzq_hover.svg);
}
.single button.slick-next.slick-arrow:hover:before{
    content: url(/wp-content/themes/icecream/img/flechaD_hover.svg);
}

.slick-dots li span img {
    display: block!important;
}


/* STUDIO */
.studio_link {
	position: absolute;
	left: 0;
	right: 0;
    bottom: 20px;
    text-align: center;
}
.studio_link a {
	display: inline-block;
	max-width: 230px;
}
body.post-type-archive-studio, body.single-studio {
	background-color: #ff2100;
}
.post-type-archive-studio .menu > li > a, .single-studio .menu > li > a {
	color: #000;
	font-size: 14px;
}
.post-type-archive-studio .menu > li > a img, .single-studio .menu > li > a img {
	margin-right: 20px;
	max-width: 12px;
	vertical-align: -3px;
}
.post-type-archive-studio .main, .single-studio .main {
	margin-top: 120px;
	color: #000;
}
.post-type-archive-studio .content {
	font-size: 16px;
	text-align: center;
	margin-bottom: 60px;
}
.post-type-archive-studio .contacto h3, .post-type-archive-studio .contacto h3 a, .post-type-archive-studio .contacto ul, .post-type-archive-studio .contacto ul li a {
	color: #000;
}
.post-type-archive-studio .contacto .h5 {
	text-transform: uppercase;
}
.post-type-archive-studio article {
	text-align: center;
}
.post-type-archive-studio article h3 {
	margin-bottom: 10px;
	font-size: 24px;
}
.post-type-archive-studio article h3 a {
	text-decoration: none;
	color: #000;
}
.post-type-archive-studio article .h4, .single-studio .h3 {
	font-size: 18px;
}
.single-studio h1 {
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 60px;
}
.single-studio .img-responsive {
	margin-bottom: 40px;
}
.single-studio .h3 {
	font-weight: bold;
}
.single-studio .h3 a, .single-studio .h4 a {
	text-decoration: none;
	color: #000;
}
.single-studio .h3 a:hover, .single-studio .h4 a:hover, .post-type-archive-studio article h3 a:hover {
	text-decoration: underline;
}
.single-studio .h4 {
	position: relative;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 50px;
	position: relative;
	font-size: 18px;
}
.single-studio .h4:after {
	content: "";
	display: table;
	clear: both;
}
.single-studio .h4 span {
	font-weight: normal;
	float: left;
	width: 30%;
}
@media all and (max-width: 767px) {
	.studio_link {
		bottom: 30px;
	}
	.studio_link a {
		max-width: 130px;
	}
}
@media all and (max-width: 768px){
	.post-type-archive-studio .menu > li > a img, .single-studio .menu > li > a img {
		display: none;
	}
	.post-type-archive-studio .main, .single-studio .main {
		margin-top: 40px;
	}
	.post-type-archive-studio .contacto ul {
		margin-bottom: 40px;
	}
	.single-studio h1 {
		margin-bottom: 30px;
		text-align: center;
	}
	.single-studio .h3 {
		text-align: center;
		margin-bottom: 40px;
	}
	.single-studio .h3 a {
		padding-bottom: 4px;
		border-bottom: 2px solid #000;
	}
	.single-studio .h4 span {
		float: none;
		display: block;
		margin-bottom: 15px;
		width: auto;
	}
}

/* ANIMACIÓN LETRAS EN SLIDER HOME */
.ml11 {
  font-weight: 900;
  font-size: 4em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}


/*-- CONTACT FORM --*/
.btnEnviar {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    font-size: 18px;
    padding: 5px 20px;
}
.wpcf7-text, .wpcf7-textarea {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 3px 5px;
}

.grecaptcha-badge{
 visibility: collapse !important;
}

.page-locations h1 { display: none; }
